@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}

.app {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}
.app h1 {
  text-align: center;
  text-transform: capitalize;
  padding: 5px 0 10px;
  background-color: #2c3e50;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.q-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 80px;
}
.q-header .correct,
.q-header .false {
  background-color: #27ae60;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  width: 100px;
}
.q-header .false {
  background-color: #c0392b;
}
.q-header .correct span,
.q-header .false span {
  font-weight: bold;
  font-size: 22px;
}

.q-body {
  margin: 20px 80px;
  padding: 10px;
  background-color: #ecf0f1;
}
.q-body .q-box .question {
  background-color: #34495e;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.q-body .q-box .awenser {
  margin-bottom: 20px;
}
.q-body .q-box .awenser .btn {
  border: none;
  outline: none;
  background-color: #f39c12;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  margin-right: 20px;
  border-radius: 5px;
  transition: all 0.3s;
}
.q-body .q-box .awenser .btn:hover {
  cursor: pointer;
  background-color: #f1c40f;
}

.result {
  text-align: center;
}
.result h1 {
  background-color: #f39c12;
  border-radius: 0;
}
.result .result-btn {
  border: none;
  outline: none;
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 5px;
  transition: all 0.3s;
}
.result .result-btn:hover {
  cursor: pointer;
  background-color: #34495e;
}

@media (max-width: 676px) {
  .app {
    width: 100%;
  }
  .app h1 {
    width: 90%;
  }
  .q-header {
    margin: 40px 20px;
  }
  .q-body {
    margin: 20px;
  }
  .q-body .q-box .awenser .btn {
    padding: 10px 5px;
    margin-right: 10px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}
